@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        SCBWI Florida is a big group. We love you. Come join our conference. Again. Please?
    </p>
</article>