@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Registration Support:</span>
        <span><a href="mailto:scbwiflorida@gmail.com">scbwiflorida@gmail.com</a></span>
    </p>
    <p>
        <span class="label">SCBWI Florida Questions:</span>
        <span><a href="mailto:linda@scbwiflorida.com">Linda Bernfeld</a></span>
    </p>
    <p>
        <span class="label">SCBWI Florida Website Questions:</span>
        <span><a href="mailto:webmaster@scbwiflorida.com">webmaster@scbwiflorida.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Websites</h3>
    </header>
    <p>
        <span class="label">SCBWI Florida:</span>
        <span><a href="http://www.scbwiflorida.com/">scbwiflorida.com</a></span>
    </p>
    <p>
        <span class="label">National:</span>
        <span><a href="mailto:scbwiflorida@gmail.com">scbwi.org</a></span>
    </p>
</section>