@{
    ViewBag.Title = "We've Got the Write Stuff";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Picture yourself at one of our conferences.
            </p>
        </div>
    </section>
}
<p>
    <b>Current Event</b>: Lisa Wheeler Picture Book Boot Camp
</p>
<p>
    Lisa Wheeler Boot Camp<br />
    Saturday, July 13, 2013<br />
    West Osceola Branch Library<br />
    305 Campus St., Celebration, FL 34747<br />
    <b>9:30 a.m. to 5 p.m.</b>
</p>
<p>
    Pump up your picture book manuscript and exercise your editing power by taking Lisa Wheeler’s Picture Book Boot Camp. Lisa will help you strengthen your PB by teaching you to trim the fat and cut unnecessary words while adding muscle to your manuscript.
</p>
<p>
    Advanced registration only - limited to 42. First 20 critiques by Lisa Wheeler, remaining to be done by Rob Sanders<br />
    <b>$100 for the boot camp</b><br />
    $45 for critiques.
</p>
<p>
    Important: Participants must bring a picture book manuscript with them to workshop. If you have a paid critique with Lisa or Rob, please bring a copy of that same manuscript to workshop.
</p>
<p>
    <b>
        For more information contact Linda Bernfeld at: <a href="mailto:lindabernfeld@gmail.com">lindabernfeld@gmail.com</a>
    </b>
</p>
<p>
    Remaining spots: <b>@ViewBag.left</b>
</p>
<p>
    Waiting List: <span class="green">Not Needed Yet!</span>
</p>
