<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://scbwiflorida.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>scbwiflorida</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$scbwiflorida</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SCBWIFloridaJune.Models.UsersContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User ID=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!" Name="Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User Id=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SCBWIFloridaJune.Models.UsersContext, SCBWIFloridaJune" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SCBWI" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User ID=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!" Name="Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User Id=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SCBWIFloridaJune.Models.SCBWIContext, SCBWIFloridaJune" MigrationConfiguration="SCBWIFloridaJune.Migrations.Configuration, SCBWIFloridaJune" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User ID=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!" Name="Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User Id=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\scbwi;AttachDbFilename=|DataDirectory|\aspnet-SCBWIFloridaJune-20130221201126.mdf;Initial Catalog=aspnet-SCBWIFloridaJune-20130221201126;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\scbwi;Initial Catalog=aspnet-SCBWIFloridaJune-20130221201126;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SCBWIFloridaJune-20130221201126.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User Id=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCBWI-Web.config Connection String">
      <ParameterValue>Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User Id=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCBWIFloridaJune.Models.UsersContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:usgtfxjcmk.database.windows.net,1433;Initial Catalog=scbwiflorida_db;User Id=scbwiflorida@usgtfxjcmk;Password=ThisIsADataBasePassWord!!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SCBWIFloridaJune.Models.UsersContext" />
  </ItemGroup>
</Project>