@using ActionMailer.Net
@model SCBWIFloridaJune.Models.LisaWheeler

@{
    Layout = null;
}

<h2>Uh oh.</h2>

<p>
    So uh... we're sorry, but your payment was declined :( Feel free to try again with another payment method! Just log in again, 
    all of your information is saved.
</p>
<p>
    Sincerely,<br />
    The SCBWI Registration Bot
</p>