@{
    ViewBag.Title = "Conference Setup Introduction";
}

<h2>Conference Setup Introduction</h2>

<p>
    Hello! And welcome to the SCBWI Florida June 2013 Mid-Year Conference Setup Wizard!
</p>

<p>
    You know your conference better than I do, so please allow me to get out of your way and begin the setup for you.
</p>

@Html.ActionLink("let's begin", "ConferenceSetup", "Manage")
