@{
    ViewBag.Title = "Finished";
}

<h2>Finished!</h2>

<p>
    Congratulations! You're done! Wasn't that easy? Now, let the conference begin!
</p>

@Html.ActionLink("continue to conference management (for real this time)", "Index", "Manage")
